
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
 
.App {
  text-align: center;
} 

.my-masonry-grid {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex;
  padding: 0px 25px 0px 25px;
  /* width: auto; */
}

.my-masonry-grid_column {
  /* padding-left: 30px; */
  background-clip: padding-box;
  max-width: 60vw;
}

.App-header {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(40px + 2vmin);
  color: black;
  padding: 20px;
}

.App-header h3 {
  margin-top: 10px;
  margin-left: 25px;
}

.App-header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 60px;
  margin-right: 20px;
}

.pin {
  /* width:'200px';
  height:'300px'; */
  min-width: 20vw;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
}

.save-button {
  display: none;
  color: white;
  font-size: calc(5px + 2vmin);
  background-color: #2ECC40;
  font-family: 'Montserrat Alternates', sans-serif;
  width: 10px;
  height: 50px;
  line-height: 50px;
  border-radius: 45%;
  margin-right: 10px;
}

.visit-link {
  font-size: 10px;
  float: left;
  position: relative;
  bottom: 15px;
  background-color: pink;
  padding: 2%;
  width: max-content;
  filter:brightness(120%);
}

.pin:hover .save-button { 
  display: block;
  position: absolute;
  text-align: center;
  left: 5;
  right: 0;
  top: 10px;
  width: 25%;
}

.pin:hover img {
  background-color:rgba(0, 0, 0, 0.5);
  filter:brightness(50%);
}

.save-button:hover {
  filter:brightness(95%);
}

.pin img {
  display: block;
  height: auto;
  max-width: 235px;
  min-width: 10vw;
  border-radius: 25px;
 }

 /* .image{
   width: 95%;
 } */

.pins {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: calc(50px + 2vmin);
  color: yellow;
}

.App-link {
  color: #61dafb;
}