
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&display=swap');
 
.App {
  text-align: center;
} 

.App-header {
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(50px + 2vmin);
  color: black;
}

.App-header h3 {
  margin-top: 10px;
  margin-left: 25px;
}

.App-header p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  margin-top: 60px;
  margin-right: 20px;
}

.pins {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: yellow;
}

.App-link {
  color: #61dafb;
}